@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--background-color);
}

.page {
  margin: 70px 0 0 0;

  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
  }

  .content {
    width: calc(100% - 216px);
  }
}

.errorText {
  color: var(--text-primary-color);
}
