.sidebar {
  width: 200px;
  position: sticky;
  top: 60px;
  align-self: flex-start;

  .divider {
    margin: 8px 0 16px 0;

    width: 100%;
    height: 1px;

    background: rgba(0, 16, 61, 0.12);
  }

  .writeMail {
    margin: 0 0 20px 0;
    width: 100%;
    height: 36px;
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    color: #333333;

    cursor: pointer;

    border: 1px solid rgba(0, 16, 61, 0.12);
    border-radius: 8px;

    transition: all 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      background: var(--secondary-hover-color);
    }
  }

  .addButton {
    padding: 8px;

    font-size: 15px;
    line-height: 20px;

    color: var(--text-sidebar-color);
    background: #f6f7f800;

    border-radius: 8px;

    display: flex;
    align-items: center;

    cursor: pointer;

    opacity: 0.48;
    &:hover {
      opacity: 1;
    }

    transition: all 0.1s ease;

    &:hover {
      background: var(--secondary-hover-color);
    }

    transition: all 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    .icon {
      width: 20px;
      height: 20px;
      margin: 0 8px 0 0;

      user-select: none;
    }
  }
}
