.switch {
  cursor: pointer;
  padding: 8px;
  position: fixed;
  bottom: 12px;
  left: 16px;

  display: flex;
  align-items: center;

  user-select: none;

  color: var(--text-primary-color);

  .icon {
    margin: 0 8px 0 0;
    width: 20px;
    height: 20px;
  }
}
